<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RepoMapper">  
  <select id="getRepoPageList">
    select a.*, b.username from t_repo a
    left join t_user b on a.user_id = b.id
    <where>
      AND b.id = #{userId}
      <if test="type != null and type != ''">
        AND a.type = #{type}
      </if>
    </where>
  </select>

  <select id="getRecommendRepoPageList">
    select a.*, b.username from t_repo a
    left join t_user b on a.user_id = b.id
    <where>
      <if test="username != null and username != ''">
        AND b.username = #{username}
      </if>
      <if test="repoName != null and repoName != ''">
        AND a.name like concat(#{repoName}, '%')
      </if>
      AND a.type = 0
    </where>
    order by a.created_at
  </select>

</mapper>